/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
    background: #111;
    color: #fff;
    height: 5em;
    border-radius: 2px;
}

header nav h1 {
    font-size: 26px;
    letter-spacing: 1px;
}

header section {
    display: flex;
    align-items: center;
    gap: 15px;
}

header section button{
        background-color: #ff4d4d;
    padding: 4px 10px;
    background: #ff4d4d;
    color: white;

    font-weight: bold;
    border-radius: 25px;
    transition: 0.3s;
    font-size: 14px;
    width: 150px;
    height: 25px;
}

header section button a {
    text-decoration: none;
     color: white;
}

/* MAIN CARD CONTAINER */
main {
    margin-top: 15px;
    max-width: 100vw;
    /* height: auto;   */
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 20px;
    justify-content: center; 
}

/* CARDS (Generated by JS) */
main div {
    width: 300px; 
    height: 50px;
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

main div:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

/* IMAGE inside Card */
img { 
    width: 100%; 
    height: 270px; 
    object-fit: cover; 
}  

/* TEXT inside Card */
h3 {
    font-size: 20px;
    padding: 10px 15px;
    font-weight: bold;
    color: #333;
}




/* CARD DESIGN (Main Div) */
main div {
    width: 300px;         
    height: 355px;        
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;   
    border: 1px solid #ddd;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease-in-out;

    
    display: flex;
    flex-direction: column;
    position: relative;
}

main div:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

/* BUTTON DESIGN (Auto position) */
.remove-fav {
    /* "Auto" layout setup */
    margin-top: auto;    
    margin-left: auto;     
    margin-right: auto;    
    margin-bottom: 20px;   
    
    /* Button Styling */
    width: auto;          
    min-width: 150px;    
    padding: 10px 25px;
    background: #ff4d4d;  
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;   
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.remove-fav:hover {
    background: #e63939;
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.addtolistbtn {
    background-color: #ff4d4d;
}