
 *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        header {
            display: flex;
            background-color: black;
            color: white;
            height: 5em;
            width: 100vw;
            align-items: center;
            justify-content: space-between;
            padding: 15px
        }
        a {
            margin-left: 20px;
            color: white;
            text-decoration: none;
        }
        main {
            margin-top: 10px;
            height: 80vh;
        }
        footer{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            height: 10vh;
        }
        footer button {
            height: 20px;
            margin-left: 5px;
        }
        main{
            max-width: 100vw;
            display: flex;
            flex-wrap: wrap;
            overflow-y: scroll;
            gap: 10px;
            margin-left: 25px;
            margin-bottom: 10px;
        }
        img {
            height: 200px;
            width: 395px;
            border-bottom: 2px solid black;
        }
        div .fav-btn{
            margin-top: 10px;
            margin-left: 300px;
            background-color: darkgoldenrod;
            cursor: pointer;
            color: antiquewhite;
            font-weight: bolder;
            height: 40px;      
        }
        main div{
            height: 280px;
            width: 400px;
            border: 3px solid black;
            box-shadow: 2 4 1;
            cursor: pointer;
        }
        h3 {
            margin-left: 3px;
        }
        p {
            margin-left: 3px;
            text-overflow: initial;

        }

        footer>div {
            display: flex;
        }

        #Page-Number>p {
            color:white;
            font-weight: bolder;
            background-color: black;
            cursor:pointer;
            margin: 5px;
        }
