/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
    background: #111;
    /* background: #160517; */
    color: #fff;
    height: 5em;
    border-radius: 2px;
}

header nav h1{
    font-size: 26px;
    letter-spacing: 1px;
}

header section {
    display: flex;
    align-items: center;
    gap: 15px;
}

header input {
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 500px;
}

header button {
    padding: 10px 20px;
    background: #ff9800;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}


.fav-link {
    padding: 10px 18px;
    background: #ff4d4d;
    color: white !important;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s ease;
}

.fav-link:hover {
    background: #e63939;
    transform: scale(1.05);
}

a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* MAIN */
main {
    margin-top: 15px;
    max-width: 100vw;
    height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 20px;
    justify-content: space-between; 
}


main div{
    width: 30%;
    height: 500px;
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s ease-in-out;

    display: flex;
    flex-direction: column;     
}

main div:hover{
    transform: translateY(-6px);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}


img { 
    width: 100%; 
    height: 270px; 
    object-fit: cover; 
} 


h3 {
    font-size: 20px;
    padding: 10px 15px;
    font-weight: bold;
}

p {
    padding: 0px 15px 10px 15px;
    color: #555;
    flex-grow: 1;        
}


.fav-btn{
    width: 70%;                
    padding: 12px;
    background: #ff4d4d;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: 0 auto 18px auto;   
    display: block;
    transition: 0.3s;
}

.fav-btn:hover{
    background: #e63939;
    transform: scale(1.05);
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 10vh;
    gap: 10px;
    padding: 10px;
}

footer button {
    padding: 8px 14px;
    background: #ff9800;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
}

footer button:hover{
    background: #e68a00;
}

footer > div {
    display: flex;
    gap: 8px;
}

#Page-Number > p {
    padding: 8px 12px;
    background: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

